In [36]:
import pandas as pd
import numpy as np

data = pd.read_csv('AccuracyTest.csv')
data

,TRUE1,PRED1,TRUE2,PRED2,TRUE0,PRED0,TRUE,PRED,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,13.213764,18.984,5.207253,21.059,20.137185,23.068,-0.307517,-0.193,NaN,NaN,NaN,NaN,NaN
1,18.985742,18.984,33.977799,21.059,6.668691,23.068,-0.188378,-0.193,NaN,FeatureDimendion,ATSC1pe,MATS2c,SlogP_VSA2
2,19.696395,18.984,33.350949,21.059,18.296766,23.068,-0.171500,-0.193,NaN,1,0.175033895,0.103829282,91.01017071
3,27.184857,18.984,37.418184,21.059,32.628512,23.068,-0.216700,-0.193,NaN,2,0.120175704,0.03623912,78.41603765
4,13.213764,18.984,17.879185,21.059,40.267826,23.068,-0.200569,-0.193,NaN,0,0.208297998,0.053576311,107.8162497
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,NaN,NaN,NaN,NaN,NaN,NaN,0.463522,0.341,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,0.306953,0.341,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,0.306953,0.341,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,0.370786,0.341,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,0.309244,0.341,NaN,NaN,NaN,NaN,NaN

In [37]:
y_true = data.iloc[:, 6]
y_true

0     -0.307517
1     -0.188378
2     -0.171500
3     -0.216700
4     -0.200569
         ...
236    0.463522
237    0.306953
238    0.306953
239    0.370786
240    0.309244
Name: TRUE, Length: 241, dtype: float64

In [38]:
y_pred = data.iloc[:, 7]
y_pred

0     -0.193
1     -0.193
2     -0.193
3     -0.193
4     -0.193
       ...
236    0.341
237    0.341
238    0.341
239    0.341
240    0.341
Name: PRED, Length: 241, dtype: float64

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)

In [40]:
print(f"MSE: {mse}")
print(f"RMSE: {rmse}")

MSE: 0.0065134867913693925
RMSE: 0.08070617567057302